EXPO_PUBLIC_SUPABASE_URL=https://avjppsqqyvehsevzbvjh.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_aGozRbq94KHpTd5abBnXow_C-BImR8m
EXPO_PUBLIC_API_URL=https://trackmeds-api-601010886738.asia-south1.run.app
